AWS_S3_REGION=your_region
AWS_ACCESS_KEY_ID=your_accesskey_id
AWS_SECRET_ACCESS_KEY=your_secret_accesskey
AWS_S3_TEMP_BUCKET_NAME=your_temp_bucket_name
AWS_S3_TRANSCODED_BUCKET_NAME=your_transcoded_video_bucket_name

# start docker compose first
REDIS_URL="redis://localhost:6379" 
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/videotranscoder"